.DS_Store
dist/electron/*
dist/web/*
build/*
!build/icons
coverage
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
./credentials.json
dataFri Apr 19 2019 12:54:50 GMT-0400 (EDT)
dataFri Apr 19 2019 12:25:08 GMT-0400 (EDT)
dataFri Apr 19 2019 12:35:49 GMT-0400 (EDT)
dataFri Apr 19 2019 12:55:00 GMT-0400 (EDT)
